body {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 12px;
	margin: 10px;
	}

table {
	background-color: #CCC;
	border-collapse: collapse;
	border: 1px solid #666;
	width: 100%;
	}

td, th {
	border: 1px solid #666;
	padding: 5px 10px;
	text-align: left;
	}
	
ul.servers,
ul.servers li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	}
	
ul.servers a {
	display: block;
	float: left;
	}

.down {
	background-color: #ECC;
	}

.down td:first-child {
	color: #533;
	}

.up {
	background-color: #CCE;
	}

.up td:first-child {
	color: #335;
	}

.up-sharing {
	background-color: #CEC;
	}

.up-sharing td:first-child {
	color: #353;
	}
