
body {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 12px;
	margin: 10px;
	}

table {
	background-color: #CCC;
	border-collapse: collapse;
	border-color: #666;
	border-width: 1.5px;
	border: solid;
	}

td {
	border-color: #666;
	border-width: 1.5px;
	border: solid;
	padding: 5px 10px 5px 10px;
	}

tr.down {
	background-color: #ECC;
	}

tr.up {
	background-color: #CCE;
	}

tr.up-sharing {
	background-color: #CEC;
	}
