body {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 12px;
	margin-right : auto;
	margin-left : auto;
	BACKGROUND-COLOR: gray;
	FONT-FAMILY: Arial, sans-serif;
	width: 862px;
	background-image: url(images/bg-tracker-serv.gif);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 72;
}

.page {
	margin-right: auto;
	margin-left: auto;
	width: 820px;
	top: 50px;
	position: relative;
}

footer {
	background-color: 2E2E2E;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 62px;
	width: 862px;
	background-image: url(images/bg-footer.gif);
	background-repeat: no-repeat;	
    background-position: center top;	
	}

.copy1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #AAA;
	text-align: center;
	}

.right {
       text-align: right;
	}

h1	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	}

table {
	background-color: #BBE;
	border-collapse: collapse;
	border: 1px solid #666;
	width: 100%;
    background-image: url(images/npds-uptitle.gif);
    background-repeat: no-repeat;
	background-position: right top;
	}

td, th {
	border: 1px solid #666;
	padding: 5px 10px;
	text-align: left;
	}

ul 	{
	padding: 0;
	}

ul li 	{
	display: inline;
	}
	
ul li:first-child {
	padding-left: 0;
	}

ul li:after {
	content: " | ";
	}

ul li:last-child:after {
	content: "";
	}

.down {
	background-color: #ECC;
	}

.down td:last-child {
	background-color: #ECC;
    background-image: url(images/npds-down.gif);
    background-repeat: no-repeat;
    background-position: right top;
	}

.up {
	background-color: #CFC;
    }

.up td:last-child {
	background-color: #CFC;
    background-image: url(images/npds-up.gif);
    background-repeat: no-repeat;
    background-position: right top;
    }

.up-sharing td {
	background-color: #BDB;
	}

.up-sharing td:last-child {
	background-color: #BDB;
    background-image: url(images/npds-upshare.gif);
    background-repeat: no-repeat;
    background-position: right top;
	}

tr {
    height: 28px;
    }